.subscribe-button{

    background-color: rgb(200, 0, 0);
    border:0;
    color:white;
    border-radius: 4px;
    cursor:pointer;
    transition: opacity 0.15s;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;

        }
    .subscribe-button:hover{
        opacity:0.3
    }
    .subscribe-button:active{
        opacity:0;
    }

.join-button{
    color:blue;
    background-color: white;
    border-color:blue;
    border-style:solid;
    border-width:1px;
    border-radius:2px;
    padding-left:15px;
    padding-top:20px;
    cursor:pointer;
    margin:5px;
    margin-left:16px;
    font-size:10px; 
    font-weight:bold;
    transition:background-color,color 1s;
    vertical-align:bottom;
    }
.join-button:hover{
    color:white;
    background-color: blue;
}
.join-button:active{
    opacity:0.7;
}
.tweet-button{
    color:white;
    background-color: #0781fa;
    margin:10px;
    border:none;
    height:30px;
    width:65px;
    border-radius:20px;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    
    
}
.tweet-button:hover{
    box-shadow:5px 5px 10px rgba(0,0,0,0.2);
}
.tweet-button:active{
    opacity:0.7;
}